* {
  box-sizing: border-box;
}


.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

}


.top {
  width:100vw;
  height:100vh;
  background: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-bar {
  width:100%;
  height:70%;
  background: black;
  display:flex;
}

.bottom {
  width:80%;
  height:30%;
  background: rgb(204, 53, 20);
  display: flex;
  margin-top:5%;margin-bottom: 5%;
}

.login {
  width: 100%;
  height: 10%;
  background: white;
  flex-direction: row;
  justify-content: space-between;
}


.menu-bar {
  width:100%;
  height: 100%;
  background:rgb(67, 28, 101);
  display: flex;
}

.top2 {
  width:100%;
  height:100%;
}
.item {
  width:100%;
  height:400px;
  background:gray;
  justify-content: space-between;
  align-items: center;
  display:flex;
  flex-direction: row;
}

.item2{
  width:100%;
  height:472px;
  background:rgb(205, 52, 30);
  justify-content: space-between;
  align-items: center;
  display:flex;
  flex-direction: row;
}
.leftsquare {
  width:50%;
  height:100%;
  background: black;
}
.rightsquare {
  width:50%;
  height:100%;
  background:rgb(217, 69, 37);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.square {
  width: 20%;
  height: 70%;
  background: white;
  font-size: 2rem;
  text-align: center;
}



@media screen and (max-width:1200px) {
  html {
    font-size: 25px;
  }
  .bottom {
    background: rgb(43, 98, 170);
    width: 50%;
    height: 20%;
  }

  .rightsquare{
    background: rgb(43, 98, 170);
  }
  .item {
    flex-wrap: wrap;
    height: 150%;
    justify-content: space-between;
  }
  .square {
    width: 45%;
    height: 40%;
  }
}


@media screen and (max-width:500px) {
  .bottom {
    background: rgb(205, 244, 9);
  }
  .rightsquare{
    background: rgb(205, 244, 9);
  }
  .top {
    flex-direction: row;
  }
  .center-bar {
    flex-direction: column;
    height:80%;
  }
  .bottom {
    width: 40%;
    height: 72.1%;
    margin-top: 16.5%;
  }
  .bottom-bar {
    flex-wrap: wrap;
  }
  .item2 {
    flex-direction: column;
  }
  .leftsquare {
    width: 100%;
  }
  .rightsquare {
    width: 100%;
  }
  .item {
    flex-direction: column;
    height: 250%;
  }
  .square{
    width: 100%;
    height: 20%;
    font-size: 6rem;
  }

}
