body {
  background-image: url(https://media1.giphy.com/media/3o7aDcrsww5Ybp18hq/giphy.gif?cid=ecf05e47870a7b005f102654b23ca2531a407a4cc438f40a&rid=giphy.gif);
  background-size: cover;
}

h1 {
  font-family: 'Miriam Libre',sans-serif;
  color: rgb(150, 131, 241);
  font-size: 40px;
  margin-top: 10%;
}
h2 {
  font-family: 'Miriam Libre',sans-serif;
  color: Black;
}

p {
  font-family: 'Miriam Libre',sans-serif;
  margin-top: 38%;
}


.content  {
  background: rgb(34, 29, 50);
  width: 600px;
  margin: auto;
  text-align: center;
  position: absolute;
  top:50%;
  left:48%;
  transform: translate(-50%, -50%);

  border-radius: 50px;
}

.background {
  background-image: url(https://media1.giphy.com/media/9rgignU6hsDol9Twtj/giphy.gif);
  background-position: center;
  border-radius: 100%;

  width: 310px;
  height:310px;

}

button {
  background-color: rgb(146, 110, 247);
  padding: 15px 32px;
  color: white;
  border-radius: 5%;
  border: none;
  margin-top: 7%;
  margin-bottom: -10%;

  font-family: 'Miriam Libre',sans-serif;

}
